*{
  font-family: 'Assistant', sans-serif;
}
/********************** beginning of top part *****************************/
.top-part{
  margin-top: 3%;
  background: url(/assets/h_img.jpg);
  background-size: cover;
  color: #ffffff;
  margin-bottom: 3%;
  width: auto;
  text-align: center;
}
.intro{  
  padding-top: 20%;
  padding-bottom: 12%;
} 
.welcome{
  font-size: 34px;
}
.logo{
  padding-bottom: -5%;
}  
.pic{
  padding-bottom: 2.5%;
}
/********************************* end of top part ***************************/

/*********************************** start of about part ***********************/
.about{
  margin-right: 7%;
  margin-left: 7%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 3%;
}
/*********************************** end of about part *************************/

/*********************************** start of services part ************************/
.services{
  background: url(/assets/s_image.jpg);
  color: #ffffff;
}
.middle{
  font-size: 16px;
  line-height: 2em;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 13%;
  margin-bottom: 3%;
}
/********************************* end of services part *******************************/

/******************************* beginning of what we do part ************************ */
.weDo{
  text-align: center;
}
.elements{ 
  padding-top: 3%;
  margin-bottom: 4%;
  text-align: center; 
  display: flex; 
  justify-content:space-between; 
  margin-right: 8%;
  margin-left: 8%;
}
#potato,#chips,#fries{
  display: none;
}
/*******************************end of what we do part **********************************/

/******************************* beginning of portfolio part ************************ */
.portfolio{
  text-align: center;
}
.portfolioPics{
  display: flex;
  flex-direction: row;
  width: 84%;
  justify-content: space-evenly;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 4%;
}  
h5{
  font-weight: bold;
}
.juice{
  font-size: 20px;
  font-weight: bold;
} 
#camone,#camtwo,#camthree,#camfour{
    width: 230px;
}
.empty1,.empty2,.empty3,.empty4{
  position: relative;
}
.overlayone,.overlaytwo,.overlaythree,.overlayfour{
  position: absolute;
  top: 0;
  left: 0;
  background:#ffffff;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color:#000000;
  padding-top: 22%;
} 
.partTwo{
  display: flex;
  flex-direction: row;
  width: 84%;
  justify-content: space-evenly;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 4%;
}  
#camfive,#camsix,#camseven,#cameight{
   width: 230px;
}
.firstpart,.secondpart,.thirdpart,.fourthpart{
  position: relative;
}
.overlayfive,.overlaysix,.overlayseven,.overlayseven,.overlayeight{
  position: absolute;
  top: 0;
  left: 0;
  background:#ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color:#000000;
}
/******************************* end of portfolio part *********************************/

/****************************** beginning of contact us part ************************/
footer{
  background: url(/assets/c_image.jpg);
  background-size: cover;
  padding-top: 4%;
  color: #ffffff;
  text-align: center;
  padding-bottom:10%;
  margin-bottom: 3%;
}
.merge{
  padding-top: 2%;
  padding-bottom: 2%;
}
input{
  background: none;
}
textarea{
  background: none;
  color: #ffffff;
}
.social{
  text-align: center;
  padding-bottom: 3%;
}
/******************************* end of contact us part *********************************/