.top-part{
  margin-top: 3%;
  background: url(/assets/h_img.jpg);
  background-size: cover;
  color: #ffffff;
  margin-bottom: 3%;
  width: auto;
  text-align: center;

  
}

.intro{  
  padding-top: 20%;
  padding-bottom: 12%;


 } 
 .welcome{
   font-size: 34px;
  
 }

.logo{
  padding-bottom: -5%;
}  
.pic{
  padding-bottom: 2.5%;

}
.about{
  margin-right: 7%;
  margin-left: 7%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 3%;
}
.services{
  background: url(/assets/s_image.jpg);
  color: #ffffff;
  

}
.middle{
  font-size: 16px;
  line-height: 2em;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 13%;
  margin-bottom: 3%;
}

/* ------------------------------------------------------------- */
.weDo{
  text-align: center;
}
.elements{ 
  padding-top: 3%;
  margin-bottom: 4%;
  text-align: center; 
  display: flex; 
  justify-content:space-between; 
  margin-right: 8%;
  margin-left: 8%;
}
#potato,#chips,#fries{
  display: none;
}
.portfolio{
  text-align: center;
}




.portfolioPics{
  display: flex;
  flex-direction: row;
  /* margin-top: 3%; */
  margin-right: 10%;
  margin-left: 10%;
  /* display: flex; */
  max-width: 80%;
  margin-bottom: 2%; 
}
 #camone{
  width:115%;
}
#camtwo{
  margin-left: 20px;
  width:77%;
}
#camthree{
  margin-left: -40px;
  width:91%;
}
#camfour{
  margin-left:-52px ;
  width:94%;
} 
/* .partTwo{
  margin-right: 10%;
  margin-left: 10%;
  max-width:80% ;
  display: flex;
  margin-bottom: 4%;
  }   */

.empty1{ 
  position: relative;


}

/* #camone,#camtwo{
  display: block;
  width: 80% ;
} */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  background:#ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color:#000000;
}
.juice{
  font-size: 20px;
  font-weight: bold;
} 
/* ------------------------------- */
.partTwo{
  /* margin-right: 10%; */
  /* margin-left: 10%; */
  /* max-width:80% ; */
  /* display: flex; */
  /* margin-bottom: 4%; */
  }   










/* ------------------------------------------------------------------------- */
footer{
  background: url(/assets/c_image.jpg);
  background-size: cover;
  padding-top: 4%;
  color: #ffffff;
  text-align: center;
  padding-bottom:10%;
  margin-bottom: 3%;
}
.merge{
  padding-top: 2%;
  padding-bottom: 2%;
}
input{
  background: none;
}
textarea{
  background: none;
  color: #ffffff;
}
.social{
  text-align: center;
  padding-bottom: 3%;
}